body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(123, 141, 158);
    font-family: sans-serif;
    color:white;
}
ul{
    margin-top:20px;
    padding: 3px;
    list-style: none;
    overflow: hidden;
    display: flex;
    /* float: left; */
 
    
}
    button:hover, a:hover {
        opacity: 0.7;
        background-color: rgb(235, 59, 226);
    }
    


li a{
    color: white;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
 
}
.a{
    height: 20pxpx;
    width: 100%;
}
.cv{
    width: 40%;
    color: rgb(248, 252, 251);
    padding: 10px;
    margin-top: 10%;
    margin-left: -2%;
    font-family: sans-serif;
}
.cv h2{
    font-family: sans-serif;
    color:white;
}

.a1{
    color: rgb(176, 209, 28);
}
.container{
    margin-left: 10px;
}
.row1{
       
    width: 500px;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 10%; 
    display: flex;
        } 
input{
    padding: 10px;
    box-sizing: border-box;
        }

        
input[type=text],
input[type=tel],
input[type=email],
textarea{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
        }

input[type=submit]{
    background: rgb(73, 61, 236);
    border:none;
    text-transform: uppercase;
    width:50%;
    margin-left: 100px;
    border-radius: 10px;
    
  
 
        }
    
.btn {
    background-color: rgb(241, 99, 16);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  } 
  .pdf{
      margin-top: 400px;
      
      
  }
.download{
    text-align: center;
     margin-bottom: 0px;
    }


.all-browsers {
     margin: 0;
    padding: 5px;
    background-color: lightgray;
      }
      
.all-browsers > h1, .browser {
    margin: 10px;
    padding: 5px;
      }
      
.browser {
    background: rgb(243, 232, 232);
      }
      
.browser > h2, p {
    margin: 4px;
    font-size: 90%;
      }
      
    
 .s1{
    display: flex;
    }
.s2{
    display: flex;
    padding: 10px;
    margin-top: 50px;
    margin-left:100px ;

    }
.s3 img{
    width: 500px;
    height: 300px;
    text-align: center;
    }
.s4 img{
    width: 500px;
    height: 300px;
    }
.s3 p{
    width: 80%;
    color: rgb(8, 8, 8);
    margin-top: 3%;
    font-family: sans-serif;
    }
.s4 p{
    width: 80%;
    color: rgb(14, 13, 13);
    margin-top: 3%;
    font-family: sans-serif;
    } 
    .pic1{
        display: flex;
        }
    .pic2{
        display: flex;
        padding: 10px;
        margin-top: 50px;
        margin-left:100px ;
    
        }
    .pic3 img{
        width: 500px;
        height: 300px;
        text-align: center;
        }
    .pic4 img{
        width: 500px;
        height: 360px;
        }
    .pic3 p{
        width: 80%;
        color: rgb(14, 13, 13);
        margin-top: 70px;
        font-family: sans-serif;
        }
    .pic4 p{
        width: 80%;
        color: rgb(14, 13, 13);
        margin-top: 70px;
        font-family: sans-serif;
        }
   

.containered{
            width: 100%;
            height: 150px;
           
            margin-top: 500px;
            }
.col-6{
     background-color: black;
     border-radius: 5px;
    margin-top: 50px;
     width: 40%;
     height: 100px;
    color: #f5f5f5;
    font-family: sans-serif;
    float: right;
     padding: 10px;
    text-align: center;
    padding: 20px;
}
.link{
margin-top: 10%; 
margin-right: 60%; 
margin-right: 20px;

}

.contact-pages {
 display: flex;
 padding: 10px;
 justify-content: space-evenly;
}
.form-container {
    width: 48%;
    margin-left: 10px;
}
.map-container {
    width: 48%;
}

@media(max-width: 600px) {
    .contact-pages {
        flex-direction: column;
    }
    .map-container,
    .form-container {
    width: 100%;
    }
@media(max-width: 600px) {
    .s2 {
        flex-direction: column;
    }
    .s4,
    .s3 {
    width: 100%;
    }
@media(max-width: 600px) {
        .pic2{
            flex-direction: column;
        }
        .pic4,
        .pic3{
        width: 100%;
        }